<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale-pulse-out" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>


 <nav class=" header-fixed navbar navbar-expand-lg navbar-light"  style="background-color: #343a40 ; ">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-size: 2rem; color: white; padding-left: 60px;" >ADMIN</a>
      <button class="navbar-toggler color_white" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item " style="margin-left: 110px; ">
           <button (click)="togglesidebar()" class="btn btn-outline-secondary bg-org " style="border-radius:0 ;">
            <span class="material-icons color_white"> menu</span>
           </button>
          </li>
         
        </ul>
        <span class="navbar-text color_white">
         <span class="color_white">{{UserData}}</span> &nbsp;
         <button class="btn btn-outline-secondary bg-org color_white"  *ngIf="session" (click)="logout()"> Logout </button>
        </span>
      </div>
    </div>
  </nav>