nav{
  background-color: #f6f6f6 !important;
  opacity: 0.8;
  font-weight: bolder;
}

.navbar, .nav-tabs{
  margin-bottom: 0;
}

.nav-link:hover{
  color: orangered !important;
}




@keyframes fadeInUp {
  from {
      transform: translate3d(0,15px,0)
  }

}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,15px,0)
  }
}



.overlay {
  padding: 0;
  height: 30%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 21;
  top: 0;
  left: 0;
  background: #cfcfcd transparent none repeat scroll 0 0;
}

.overlay-content {
  position: relative;
  top: 30%;

  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

 .closebtn:hover {
  transition: all 1s;
  color: #ff4136;
  -ms-transform: rotate(360deg); /* IE 9 */
  transform: rotate(360deg) scale(2);
}
