nav {
  background-color: #f6f6f6 !important;
  opacity: 0.8;
  font-weight: bolder;
}

.navbar,
.nav-tabs {
  margin-bottom: 0;
}

.nav-link:hover {
  color: orangered !important;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 15px, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 15px, 0);
  }
}

.dropdown-menu:hover {
  display: block;
}
.overlay {
  padding: 0;
  height: 10%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 21;
  top: 0;
  left: 0;
  background: white none repeat scroll 0 0;
}

.overlay-content {
  position: relative;
  top: 10%;

  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.closebtn:hover {
  transition: all 1s;
  color: #ff4136;
  -ms-transform: rotate(360deg); /* IE 9 */
  transform: rotate(360deg) scale(2);
}



.third-level-menu
{
    position: absolute;
    top: 0;
    right: 300px;
    width: 300px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: #999999;
}
.third-level-menu > li:hover { background: #CCCCCC; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 300px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    
    
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #999999;
}
.second-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    color: black;
}


.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    color: white;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}

