<br>

<div class="row" style="margin-right: 5px; margin-left: 5px; background-color: #f6f6f6;">
 
  <div class="col-sm-4">
    <ul class="list-group" style="border: none;">
      <li class="list-group-item" style="border: none;">
        <img class="img-fluid" src="../../assets/images/logo.png" alt="logo">
      </li>
    
      <li class=" list-group-item" style="border: none;">
        <span class="material-icons">
          place
          </span>
          Lower Parel, Mumbai, India
      </li>
      <li class=" list-group-item" style="border: none;">
        <span class="material-icons">
          email
          </span>
          info@booksbyweight.com

      </li>
      <li class=" list-group-item" style="border: none;">
        <span class="material-icons">
          phone_in_talk
          </span>
          +918850389387 
      </li>
      <li class=" list-group-item" style="border: none; ">
<a href="#" class="round" style="margin-right: 10px;"><img src="../../assets/icons/facebook.png" height="30px" width="30px" alt=""></a>
<a href="#"class="round"style="margin-right: 10px;"><img src="../../assets/icons/twitter.png" height="30px" width="30px" alt=""></a>
<a href="#"class="round"style="margin-right: 10px;"><img src="../../assets/icons/instagram.png" height="30px" width="30px" alt=""></a>
<a href="#"class="round"style="margin-right: 10px;"><img src="../../assets/icons/google.png" height="30px" width="30px" alt=""></a>


      </li>
    </ul>
  </div>
  <div class="col-sm-4">
    <ul class="list-group" style="border: none;">
      <li class="list-group-item nopadding"  style="border: none; font-weight: bolder;" aria-current="true">
        Infomation
      </li>
      <li  style="border: none;" class="list-group-item nopadding" aria-current="true">
&nbsp;
      </li>
      <li style="border: none;" class="list-group-item nopadding" aria-current="true">
        About Us
      </li>
      <li style="border: none;" class="list-group-item nopadding" aria-current="true">
        Contact Us
      </li>
      <li style="border: none;" class="list-group-item nopadding" aria-current="true">
        Terms & Conditions
      </li>
      <li style="border: none;" class="list-group-item nopadding" aria-current="true">
        Returns & Exchanges
    
      </li>
      <li style="border: none;" class="list-group-item nopadding" aria-current="true">
        <span  >
          &#8377;500 Onwards
        </span>
    
      </li>
      <li style="border: none;" class="list-group-item nopadding" aria-current="true">
        Shipping & Delivery

      </li>
    
      <li style="border: none;" class="list-group-item nopadding" aria-current="true">
        Privacy Policy
      </li>
    
    
    </ul>
  </div>
  <div class="col-sm-4">
    <ul class="list-group" style="border: none;">
      <li class="list-group-item nopadding"  style="border: none; font-weight: bolder;" aria-current="true">
        Download the App
      </li>

      <li style="border: none;" class="list-group-item " aria-current="true">
        Download the app and get 10% off your first purchase .
       </li>
      <li style="border: none;" class="list-group-item " aria-current="true">
       <a href="#"><img class="img-fluid" src="../../assets/images/googleplay.png" alt=""></a>
      </li>
     

    
    
    </ul>
  </div>
  
</div>
<hr class="dropdown-divider" style="border-top: 1px dashed;">

<nav class="sticky__header scroll-header navbar justify-content-center navbar-expand-sm navbar-light navbar-fixed">
  <div class="container nopadding"  >
    
    <div class=" navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb- mb-lg-0">
        <li class="nav-item " >
          &copy; 2020 Butterfly Books® All Right Reserved.
        </li>
     

      </ul>
     <div class="d-flex">
      <ul class="navbar-nav mr-auto mb- mb-lg-0">
      <li class="nav-item">
        <a href="#" class="nav-link " >
         Home
        </a>
        
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link " >
         Books
        </a>
        
      </li>
      
     
      <li class="nav-item">
        <a href="login" class="nav-link" >
          Contact Us
        </a>
      </li>
     
      </ul>
     </div>
    </div>
  </div>
</nav>