<br>

<div class="row" style="margin-right: 5px; margin-left: 5px;">

  <div class="col-sm-4">
    <ul class="list-group" style="border: none;">
      <li class="list-group-item" style="border: none;">
        <img class="img-fluid" src="../../assets/images/logo.png" style="width: 110px !important; height: 50px !important;" class="ing-fluid" alt="logo">
      </li>

      <!-- <li class=" list-group-item" style="border: none;">
        <span class="material-icons">
          place
        </span>
        <a style="color: inherit; text-decoration: none;" target="_blank" href="https://www.google.co.in/maps/place/Butterfly+Books+%2F+BooksByWeight/@18.9963309,72.8184926,17z/data=!4m12!1m6!3m5!1s0x3be7ce60bfe9363d:0x27eb9a689fe05568!2sButterfly+Books+%2F+BooksByWeight!8m2!3d18.9963258!4d72.8206813!3m4!1s0x3be7ce60bfe9363d:0x27eb9a689fe05568!8m2!3d18.9963258!4d72.8206813">
          Lower Parel, Mumbai, India
        </a>
        
      </li> -->
      <li class=" list-group-item" style="border: none;">
        <span class="material-icons">
          email
        </span>
        info@booksbyweight.com

      </li>
      <li class=" list-group-item" style="border: none;">
        <span class="material-icons">
          phone_in_talk
        </span>
        022-24912377 / 9321680945
      <!-- </li>
      <li class=" list-group-item" style="border: none; ">
        <a href="#" class="round" style="margin-right: 10px;"><img src="../../assets/icons/facebook.png" height="30px"
            width="30px" alt=""></a>
        <a href="#" class="round" style="margin-right: 10px;"><img src="../../assets/icons/twitter.png" height="30px"
            width="30px" alt=""></a>
        <a href="#" class="round" style="margin-right: 10px;"><img src="../../assets/icons/instagram.png" height="30px"
            width="30px" alt=""></a>
        <a href="#" class="round" style="margin-right: 10px;"><img src="../../assets/icons/google.png" height="30px"
            width="30px" alt=""></a>


      </li> -->
    </ul>
  </div>
  <div class="col-sm-4">
    <ul class="list-group" style="border: none;">
      <li  (click)="Copyright()" class="list-group-item nopadding" style="border: none; cursor: pointer; font-weight: bolder;" aria-current="true">
        CopyRight Policy
      </li>
      <li style="border: none; cursor: pointer; " class="list-group-item nopadding" aria-current="true">
        &nbsp;
      </li>
      <li (click)="about()" style="border: none; cursor: pointer; " class="list-group-item nopadding" aria-current="true">
        About Us
      </li>
      <li style="border: none; cursor: pointer; " class="list-group-item nopadding" aria-current="true">
        Contact Us
      </li>
      <li (click)="Terms()" style="border: none; cursor: pointer; " class="list-group-item nopadding" aria-current="true">
        Terms & Conditions
      </li>
      <li (click)="Return()" style="border: none; cursor: pointer; " class="list-group-item nopadding" aria-current="true">
        Return & Exchange

      </li>
      <li (click)="Shipping()" style="border: none; cursor: pointer; " class="list-group-item nopadding" aria-current="true">
        Shipping & Delivery

      </li>

      <li (click)="Privacy()" style="border: none; cursor: pointer; " class="list-group-item nopadding" aria-current="true">
        Privacy Policy
      </li>
      <li (click)="Payment()" style="border: none; cursor: pointer; " class="list-group-item nopadding" aria-current="true">
        Payment
      </li>


    </ul>
  </div>
  <div class="col-sm-4">
    <ul class="list-group" style="border: none;">
      <li class="list-group-item nopadding" style="border: none; font-weight: bolder;" aria-current="true">
        Download the App
      </li>

      <li style="border: none;" class="list-group-item " aria-current="true">
        Download the app and get 10% off your first purchase .
      </li>
      <li style="border: none;" class="list-group-item " aria-current="true">
        <a href="#"><img class="img-fluid" src="../../assets/images/googleplay.png" alt=""></a>
      </li>




    </ul>
  </div>

</div>
<hr class="dropdown-divider" style="border-top: 1px dashed;">

<nav style="margin-left: 5px; margin-right: 5px;"
  class="sticky__header scroll-header navbar justify-content-center navbar-expand-sm navbar-light navbar-fixed">
  <div style="margin-left: 5px; margin-right: 5px;" class="container nopadding">

    <div class=" navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb- mb-lg-0">
        <li class="nav-item ">
          &copy; 2020 Butterfly Books® All Right Reserved.
        </li>


      </ul>
      <div class="d-flex">
        <ul class="navbar-nav mr-auto mb- mb-lg-0">
          <li class="nav-item">
            <a href="#" class="nav-link ">
              Home
            </a>

          </li>
          <li class="nav-item">
            <a href="#" class="nav-link ">
              Books
            </a>

          </li>


          <li class="nav-item">
            <a href="login" class="nav-link">
              Contact Us
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>
