<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale-pulse-out" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>



<div>
    <div class="card p-2 btc">
        <span class="font-weight-bolder org text-center" style="font-size: large;">ADDRESS
        </span>
    </div>
    <br>
    <form #userform="ngForm" id="address">
        <div class="input-group">
            <input [(ngModel)]="user.name" name="name" type="text" class="form-control" placeholder="Enter Full Name"
                #name required>
        </div>
        <br>
        <div class="input-group">
            <input [(ngModel)]="user.phonenumber" type="text" name="phonenumber" class="form-control"
                placeholder="Enter Phone-Number"
                onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" autocomplete="off"
                maxlength="10" #phonenumber required>
        </div>
        <br>
        <div class="input-group">
            <input [(ngModel)]="user.email" name="email" type="text" class="form-control" placeholder="Enter State"
                #email required>
        </div>


        <br>
        <div class="d-flex justify-content-center">
            <button class="btn btn-success" [disabled]="userform.invalid" style="border-radius: 0;"
                (click)="submituser(user);">update User</button>
        </div>
    </form>
</div>