<!-- <div
  class="carousel" [flickity]="{'wrapAround': true, 'pageDots': false, 'adaptiveHeight': true}"
  
>
<div class="carousel-cell">
    <div class="row">
      <div class="col-sm-6">
        <img class="img-fluid" src="../../assets/images/1.jpeg" alt="" />
      </div>
      <div class="col-sm-6">
        <div class="text-center animate__animated animate__fadeInUpBig" >
          <h1 style="font-weight: bolder;">
            Pre-Owned
          </h1>
          <h1 style="color: red; font-weight: bold;">
            Collection
          </h1>
        </div>
      </div>
    </div>
  </div>
   <div class="carousel-cell">
    <div class="row">
      <div class="col-sm-6">
        <div class="text-center animate__animated animate__fadeInUpBig animate__delay-3s"   >
          <h1 style="font-weight: bolder;">
            Pre-Owned
          </h1>
          <h1 style="color: red; font-weight: bold;">
            Collection
          </h1>
        </div>
      </div>
      <div class="col-sm-6">
        <img class="img-fluid" src="../../assets/images/1.jpeg" alt="" />
      </div>
    </div>
  </div>


    </div>
 -->

 <owl-carousel-o [options]="customOptions"  #owlCar>
    <ng-template carouselSlide>
        <div class="slide">
          <div class="row">
            <div class="col-sm-6">
              <img class="img-fluid" src="../../assets/images/1.jpeg" alt="" />
            </div>
            <div class="col-sm-6">
              <div class="text-center animate__animated animate__fadeInUpBig" >
                <h1 style="font-weight: bolder;">
                  Pre-Owned
                </h1>
                <h1 style="color: red; font-weight: bold;">
                  Collection
                </h1>
                <h1 style=" font-weight: bold;">
                  Shop-Now
                </h1>
              </div>
            </div>
          </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
          <div class="row">
            <div class="col-sm-6">
              <div class="text-center animate__animated animate__fadeInUpBig animate__delay-3s"   >
                <h1 style="font-weight: bolder;">
                  Pre-Owned
                </h1>
                <h1 style="color: red; font-weight: bold;">
                  Collection
                </h1>
                <h1 style=" font-weight: bold;">
                  Shop-Now
                </h1>
              </div>
            </div>
            <div class="col-sm-6">
              <img class="img-fluid"  src="../../assets/images/1.jpeg" alt="" />
            </div>
          </div>
        </div>
    </ng-template>
   
  </owl-carousel-o>
  
  