<div class="p-2">
    <div class="section1">
      <app-header></app-header>
      <div class="bg-image" style="position: relative;
       text-align: center;">
        <div style="  position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); font-size: xx-large;" class="org">
          Checkout <br><br>
          Home / Checkout
        </div>
      </div>
      <!-- Write the code inside this div. -->
      <div>
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <div class="form">
                <h2 class="head">Existing Customer</h2><br>
                <input type="text" placeholder="Username*"><br>
                <input type="password" placeholder="Password*">
                <ul class="checkout__dtl__btn">
                  <li class="buy__now__btn"><a href="#">login</a></li>
                </ul>
                <br>
                <h2 class="section-title-5">New Customer</h2>
                <input class="bts" type="text" placeholder="Email*"><br>
                <input type="password" placeholder="Password*">
                <ul class="checkout__dtl__btn">
                  <li class="buy__now__btn"><a href="#">CREATE ACCOUNT</a></li>
                </ul>
              </div>
              <!-- Start Checkbox Area -->
              <div class="checkout-form">
                <br>
                <h2 class="section-title-3">Shipping Address</h2>
                <div class="checkout-form-inner">
                  <div class="single-checkout-box">
                    <input class="light" type="text" placeholder="First Name*">
                    <input type="text" placeholder="Last Name*">
                  </div>
                  <div class="single-checkout-box">
                    <input type="text" placeholder="Email*">
                    <input type="text" placeholder="Phone*">
                  </div>
                  <div class="single-checkout-box">
                    <input type="text" placeholder="Building Name*">
                    <input type="text" placeholder="Street*">
                  </div>
                  <div class="single-checkout-box select-option mt--40">
                    <select>
                      <option>City*</option>
                      <option>Mumbai</option>
                    </select>
                    <input type="text" placeholder="State*">
                  </div>
                  <div class="single-checkout-box select-option mt--40">
                    <select>
                      <option>Country*</option>
                      <option>India</option>
  
                    </select>
                    <input type="text" placeholder="Zip Code*">
                  </div>
  
                </div>
              </div>
              <!-- End Checkbox Area -->
              <!-- Start Payment Box -->
              <div class="payment-form">
                <h2 class="section-title-3">payment details</h2>
                <p>Lorem ipsum dolor sit amet, consectetur kgjhyt</p>
                <div class="payment-form-inner">
                  <div class="single-checkout-box">
                    <input class="last" type="text" placeholder="Name on Card*">
                    <input type="text" placeholder="Card Number*">
                  </div>
                  <div class="single-checkout-box select-option">
                    <select>
                      <option>Date*</option>
                      <option>Date</option>
                      <option>Date</option>
                      <option>Date</option>
                      <option>Date</option>
                    </select>
                    <input type="text" placeholder="Security Code*">
                  </div>
                </div>
              </div>
              <!-- End Payment Box -->
              <!-- Start Payment Way -->
              <div class="our-payment-sestem">
                <h2 class="section-title-3">We Accept :</h2>
                <ul class="payment-menu">
                  <li><a href="#"><img src="../../assets/images/1.jpg" alt="payment-img"></a></li>
                  <li><a href="#"><img src="../../assets/images/2.jpg" alt="payment-img"></a></li>
  
                </ul>
                <ul class="checkout__dtl__btn">
                  <li class="buy__now__btn"><a href="#">confirm &amp; pay</a></li>
                </ul>
              </div>
              <!-- End Payment Way -->
            </div>
            <div class="col-sm-4">
              <h2 class="section-title-5">Order Summary</h2>
              <p class="note-desc">Please verify your order before paying</p>
              <ul class="important-note">
                <li class="pay"><a href="#"><span class="material-icons">
                      play_circle_filled
                    </span>Items: 2</a></li>
                <li class="pay"><a href="#"><span class="material-icons">
                      play_circle_filled
                    </span>Sub Total: ₹299.00</a></li>
                <li class="pay"><a href="#"><span class="material-icons">
                      play_circle_filled
                    </span>Total Weight: 1.25 Kg</a></li>
                <li class="pay"><a href="#"><span class="material-icons">
                      play_circle_filled
                    </span>Shipping: ₹100.00</a></li>
                <li class="pay"><a href="#"><span class="material-icons">
                      play_circle_filled
                    </span><b>Amount Payable: <span class="important-note__prizes">₹399.00</span></b></a></li>
              </ul>
              <div class="puick-contact-area mt--60">
                <h2 class="section-title-3">Send a Query</h2>
                <a href="info@booksbyweight.com">info@booksbyweight.com </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="stickyfooter">
      <app-footer></app-footer>
    </div>
  </div>
  