<div class="p-2">
    <div class="section1">
        <app-header></app-header>
        <div class="bg-image" style="position: relative;
       text-align: center;">
            <div style="  position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); font-size: xx-large;" class="org">
                Checkout <br><br>
                Home / Checkout
            </div>
        </div>
        <!-- Write the code inside this div. -->
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">

                        <!-- <select [(ngModel)]="selected" class="form-select select" aria-label="Default select example">
                            <option *ngFor="let select of address" [value]="select._id">
                                <span>{{select.fullName}}</span>
                                <span>{{select.mobileNumber}}</span>
                                <span>{{select.alternatePhoneNumber}}</span>
                                <span> {{select.state}} </span>
                                <span>{{select.}}</span>
                            </option>
                        </select> -->
                      <div *ngIf="selected">
                        <table class="table  table-dark table-striped table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <!-- <th scope="col">
                                    Select All &nbsp; <input class="form-check-input" type="checkbox" value="" >
                                    </th> -->
                                    <th scope="col">Sr No</th>
                                    <th scope="col">Fullname</th>
                                    <th scope="col">Mob No</th>
                                    <th scope="col">Alternate Mob No</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Select Address</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                <tr  *ngFor="let add of address; let i = index;">
                                    <td>
                                        {{i + 1}}
                                    </td>
                                    <td>
                                        {{add.fullName}}
                                    </td>
                                    <td>
                                        {{add.mobileNumber}}
                                    </td>
                                    <td>
                                        {{add.mobileNumber}}
                                    </td>
                                    <td>
                                        {{add.address }}
                                        {{add.landmark}}
                                        {{add.city}}
                                        {{add.state}}
                                        {{add.pinCode}}
                                    </td>
                                    <td><button class="btn btn-success" style="border-radius: 0;" (click)="createorder(add._id)" >
                                        deliver here
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                      </div>
                      <!-- <div style="float: left;">
                        <button class="btn btn-success" [disabled] = "!placebutton" (click)="createorder()" > place Order</button>
                    </div> -->
                      <div style="float: right;" *ngIf="!selected">
                        <button class="btn btn-success" (click)="showadd()" > change Address</button>
                    </div>
                    <br><br>
                        <!-- Start Payment Way -->
                        <div class="our-payment-sestem">
                            <h2 class="section-title-3">We Accept :</h2>
                            <ul class="payment-menu">
                                <li><a href="#"><img src="../../assets/images/1.jpg" alt="payment-img"></a></li>
                                <li><a href="#"><img src="../../assets/images/2.jpg" alt="payment-img"></a></li>
                            </ul>
                            <!-- <ul class="checkout__dtl__btn">
                                <li class="buy__now__btn"><a href="#">confirm &amp; pay</a></li>
                            </ul> -->
                            <button class="btn btn-outline-success"(click)="initPay();"  id="rzp-button1"> PAY </button>
                        </div>
                        <!-- End Payment Way -->
                    </div>
                    <div class="col-sm-4">
                        <h2 class="section-title-5">Order Summary</h2>
                        <p class="note-desc">Please verify your order before paying</p>
                        <ul class="important-note">
                            <li class="pay"><a href="#"><span class="material-icons">
                                        play_circle_filled
                                    </span>Items: {{cartitem.length}}</a></li>
                            <li class="pay"><a href="#"><span class="material-icons">
                                        play_circle_filled
                                    </span>Sub Total: {{subtotal}}</a></li>
                            <li class="pay"><a href="#"><span class="material-icons">
                                        play_circle_filled
                                    </span>Total Weight: {{totalweight}} Kg</a></li>
                            <li class="pay"><a href="#"><span class="material-icons">
                                        play_circle_filled
                                    </span>Shipping: ₹ {{shipping}} </a></li>
                            <li class="pay"><a href="#"><span class="material-icons">
                                        play_circle_filled
                                    </span><b>Amount Payable: <span class="important-note__prizes">₹ {{amountpayable}}
                                        </span></b></a></li>
                        </ul>
                        <div class="puick-contact-area mt--60">
                            <h2 class="section-title-3">Send a Query</h2>
                            <a href="info@booksbyweight.com">info@booksbyweight.com </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="stickyfooter">
        <app-footer></app-footer>
    </div>
</div>