<div class="p-2">
    <div class="section1">
      <app-header></app-header>
      <div class="bg-image" style="position: relative;
       text-align: center;">
        <div style="  position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); font-size: xx-large;" class="org">
          Checkout <br><br>
          Home / Checkout
        </div>
      </div>
      <!-- Write the code inside this div. -->
      
    </div>
    <div class="stickyfooter">
      <app-footer></app-footer>
    </div>
  </div>
  