  
    <table class="table table-hover" *ngIf="orderslength > 0">
        <thead >
            <tr>
                <!-- <th scope="col">
                Select All &nbsp; <input class="form-check-input" type="checkbox" value="" >
                </th> -->
                <th scope="col">Sr No</th>
                <th scope="col">Name</th>
                <th scope="col">Mob Number</th>
                <th scope="col">Order Items </th>
                <th scope="col">Payment Done </th>
                <th scope="col">Order Status</th>
                <th scope="col">View Details</th>

            </tr>
        </thead>
        <tbody class="align-middle">
            <ng-container >
                <tr *ngFor="let orders of orders$| paginate: {  itemsPerPage: 5, currentPage: pages, totalItems: i}; let i = index;" >
                    <td >
                        {{ 5 * (pages - 1) + i + 1 }}
                    </td>
                    <td *ngIf="orders.address ">
                        {{orders.address.fullname}}
                    </td>
                    <td *ngIf="orders.address ">
                        {{orders.address.mobilenumber}}
                    </td>
                    <td>
                       {{orders.order_items.length}} 
                    </td>
                    <td *ngIf="orders.isPaymentCompleted == true">
                        Payment Completed
                    </td>
                    <td *ngIf="orders.isPaymentCompleted == false">
                        Payment Not Completed
                    </td>
                    <td *ngIf="orders.isOrderComleted == true">
                        Order Completed
                    </td>
                    <td *ngIf="orders.isOrderComleted == false">
                        Processing
                    </td>
                    <td>
                        <button (click)="viewdetails(orders)" class="btn btn-success btn-sm" style="border-radius: 0;">
                           View Details
                        </button>
                    </td>

    
                </tr>
            </ng-container>

        </tbody>
    </table>

<pagination-controls class="d-flex justify-content-center" directionLinks="true"

(pageChange)="onPageChange($event)"
    autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next">
</pagination-controls> 



<div class="row  d-flex justify-content-center" style="height: 500px;" *ngIf="orderslength == 0">
    <div style="width: 50%; height: 50%; top: 80px; background-color: #212529; color: white; " class="card shadow-bottom align-middle">
        <h5 style="margin-top: 15%;"  class="text-center card-title">YOU DONT HAVE ANY ORDERS</h5>
        <a href="/books" style="text-decoration: none; color: white; cursor: pointer;" class="d-flex justify-content-center org "> CLick Here To Shopping </a>
        <span class="material-icons d-flex justify-content-center">
            touch_app
            </span>
    </div>
</div>