<div class="slide">
    <div class="p-2">
      <div class="s nopadding">
        <div class="content">
          <div class="content-overlay"></div>
          <img class="card-img-top" height="340px" 
          height="350px"
          src="{{popularitem.book_img[0]}}" onerror="this.src='assets/images/altimg.png';" alt=" BOOKS ">
          <div class="content-details fadeIn-bottom">

            <h3 class="content-title">
              <a target="_blank" style="color: black; cursor: pointer;"    (click)="productHome(popularitem._id)" >
                <span class="material-icons org">
                  add &nbsp;&nbsp;
                </span>
              </a>
                
                <a style="color: black;" (click)="addCart(popularitem._id,popularitem.final_price,popularitem.weight)">
                    <span class="material-icons org">
                        add_shopping_cart &nbsp;&nbsp;
                </span></a><a *ngIf="!addedToWishlist"
                ><span
                  (click)="addWish(popularitem._id)"
                  style="color: black; cursor: pointer;"
                  class="material-icons org"
                >
                  favorite_border
                </span></a
              >
              <a *ngIf="addedToWishlist"
                ><span
                  (click)="deletePro(popularitem._id)"
                  style="color: black; cursor: pointer;"
                  class="material-icons org"
                >
                  favorite
                </span></a
              ></h3>

          </div>

        </div>
      </div>

      <div class="text-center" style="text-align: center; padding: 0px 10px 0px 10px;">
        <p style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis;">
          {{popularitem.book_name}}
          </p>
      </div>
      <div class="text-center">
        <s style="color: rgba(107, 105, 105, 0.61);">&#8377;
            {{popularitem.mrp_inr}}
        </s> &nbsp;
        <span style="color:red">&#8377;
            {{popularitem.final_price}}Rs
        </span>
      </div>
    </div>
  </div>