<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale-pulse-out" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="p-2">
  <div class="section1">

    <app-header></app-header>

    <div class="bg-image" style="position: relative;
            text-align: center;">
      <div style="  position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); font-size: xx-large;" class="org">
        BOOKS <br><br>
        Home / Wishlist<br><br>

      </div>

    </div>
    <div *ngIf="length > 0">
      <div  *ngIf="book$">

        <app-wishlistitem [productItem]="book$"></app-wishlistitem>

      </div>
    </div>

  </div>
</div>
<div class="stickyfooter">
  <app-footer></app-footer>
</div>
