<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale-pulse-out" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="p-2">
  <div class="section1">

    <app-header></app-header>

    <div class="bg-image" style="position: relative;
    text-align: center;">
  
      <div style="  position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); font-size: large;">
        BOOK <br>
        <a href="/" style="text-decoration: none; color: #000;" class="org"> Home</a> / <span class="org">Wishlist</span>
      </div>
    </div>
    <div *ngIf="length > 0">
      <div>

        <app-wishlistitem [productItem]="book$"></app-wishlistitem>

      </div>
    </div>
    <div class="row  d-flex justify-content-center" style="height: 400px;" *ngIf="length == 0">
      <div style="width: 50%; height: 50%; top: 80px; background-color: #212529; color: white; "
        class="card shadow-bottom align-middle">
        <h5 style="margin-top: 4%;" class="text-center card-title"><span style="font-size: 40px;">Your Wishlist Is
            Empty</span> <br><br> YOU DONT HAVE ANY BOOK ADDED IN YOUR WISHLIST</h5>
        <a href="/books" style="text-decoration: none; color: white; cursor: pointer;"
          class="d-flex justify-content-center org "> CLick Here To Add </a>
      </div>
    </div>
  </div>
</div>
<div class="stickyfooter">
  <app-footer></app-footer>
</div>
