<div class="s nopadding" data-aos="zoom-in">
    <div class="content" style="height:340px">
      <div class="content-overlay" style=" cursor: pointer; " (click)="productHome(searchItem._id)"></div>
      <img class="card-img-top" style=" cursor: pointer; " height="340px" (click)="productHome(searchItem._id)" onerror="this.src='assets/images/altimg.png';" src="{{searchItem.book_img[0]}}" alt=" BOOKS ">
      <div class="content-details fadeIn-bottom">

        <h3 class="content-title"  >
          <a style="color: black; cursor: pointer;" (click)="productHome(searchItem._id)">
            <span class="material-icons org">
              add &nbsp;
            </span>
          </a>
          <a  *ngIf="!cartbutton">
            <span  (click)="addCart(searchItem,searchItem._id,searchItem.final_price,searchItem.weight)" class="material-icons org wish">
              add_shopping_cart &nbsp;
            </span>
           </a>

        <a *ngIf="cartbutton" >
          <span (click)="gotocart()" class="material-icons org wish">
            add_shopping_cart &nbsp;
          </span>
         </a>
            <a *ngIf="searchItem.quantity == 0" >
              <span (click)="notify()" class="material-icons org wish">
                add_shopping_cart &nbsp;
              </span>
             </a>
        <a  *ngIf="!addedToWishlist" >
          <span (click)=" addWish(searchItem._id)" class="material-icons org wish">
            favorite_border
          </span>
        </a>

        <a *ngIf="addedToWishlist"><span (click)="deletePro(searchItem._id)" class="material-icons org wish">
            favorite
          </span>
        </a>
        </h3>

      </div>

    </div>
  </div>

<div style=" cursor: pointer; " (click)="productHome(searchItem._id)">
  <div class="text-center" style="text-align: center; padding: 0px 20px 0px 20px; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;">
    {{searchItem.book_name}}
    <br>
  </div>
  <div class="text-center">
    <s style="color: rgba(107, 105, 105, 0.61);">&#8377;
      {{searchItem.mrp_inr}}
    </s> &nbsp;
    <span *ngIf="searchItem.sale_price == null || searchItem.sale_price == 0;else final" style="color:red">&#8377;
      {{searchItem.final_price}}Rs
    </span>
    <ng-template #final >
      <span *ngIf="searchItem.sale_price != null && searchItem.sale_price != 0;" style="color:red">&#8377;
        <s>{{searchItem.final_price}}Rs</s>
      </span>
    </ng-template><br>
    <span *ngIf="searchItem.sale_price != null && searchItem.sale_price != 0;" style="color:blue">
      sale price: &#8377;{{searchItem.sale_price}}Rs
    </span>
  </div>
</div>
