.bg-image{
  background-image: url('../../assets/images/5.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active  {
  color: orangered !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

a {
  color: black !important;

}

textarea:focus, input:focus{
  outline: none !important;
}
.tab-pane.active{
  color: orangered !important;
}