.list-group-item:hover{
  color: orangered !important;
}


.bg-color:hover{
  background-color:rgba(248, 245, 245, 0.973); 

}

@keyframes fadeInRight {
  0% {
     opacity: 0;
     transform: translateX(10px);
  }
  100% {
     opacity: 1;
     transform: translateX(5px);
  }
}

