<ul class="list-group">
  <li class="list-group-item bg-dark text-white" aria-current="true">
    <span class="material-icons">menu</span> BROWSE CATEGORIES
  </li>

  <div class="d-none d-sm-block">
    <li class=" dropright list-group-item bg-color  " *ngFor="let item of category$">
      <div class="row">
        <div class="col-1 mr-1">
          <span class="material-icons org " style="font-size:25px;">
            {{item.icon_name}}
          </span>
        </div>
        <div class="col">
          <span style="cursor: pointer; font-size:12px;" (click)="productCat(item._id)" class="text-wrap">
            {{item.category}} </span>

        </div>
        <div class="col-1">
          <span class="material-icons org float-right">
            navigate_next
          </span>
        </div>
      </div>
      <div style="padding: 10px;width: 500px;" [hidden]="item.subcategory.length == 0"
        class=" dropdown-menu drop-menu-right animate__animated animate__fadeInRight animate__faster">
        <!-- <div class="row">
    <div class="col">
  <div class="row">
    <div class="col-6"*ngFor="let sub of item.subcategory" >
      <a class=" nav-link active org " (click)="productSubCat(sub._id)" style="color: black; cursor: pointer;">
        {{sub.name}}
      </a>
    </div>
  </div>
    </div>
        <div class="col-2">
          <img class="float-right" src="../../assets/images/1.jpeg" height="100%" width="200px" alt="" srcset="">
        </div>

      </div> -->
        <div class="row">

          <div class="col-6" *ngFor="let sub of item.subcategory">
            <a class=" nav-link active org " (click)="productSubCat(sub._id)" style="color: black; cursor: pointer;">
              {{sub.name}}
            </a>
          </div>

        </div>


      </div>
    </li>
  </div>
  <div class="accordion card p-2 d-block d-sm-none" *ngFor="let item of category; let i = index">
    <div class="row">
      <div class="col-1 mr-1">
        <span class="material-icons org ">
          {{item.icon_name}}
        </span>
      </div>
      <div class="col">
        <span style="cursor: pointer;" (click)="productCat(item._id)" class="text-wrap"> {{item.category}} </span>

      </div>
      <div class="col-1">
        <a style="text-decoration: none; color: green;" href="#List-{{ i }}" data-toggle="collapse">
          <span class="material-icons org float-right">
            touch_app
          </span>
        </a>
      </div>
      <div class="col-1">
        <a style="text-decoration: none; color: black;" href="#List-{{ i }}" data-toggle="collapse">
          <span class="material-icons org float-right">
            navigate_next
          </span>
        </a>
      </div>
    </div>
    <div id="List-{{ i }}" class="collapse">
      <div class="row">

        <div class="col-6" *ngFor="let sub of item.subcategory">
          <a class=" nav-link active org " (click)="productSubCat(sub._id)" style="color: black; cursor: pointer;">
            {{sub.name}}
          </a>
        </div>

      </div>
    </div>
  </div>
</ul>
<br>
<ul class="list-group" style="cursor: pointer;">
  <li class="list-group-item bg-dark text-white" aria-current="true">
    <span class="material-icons">menu</span> BOOKS BY PRICE
  </li>
  <li class="list-group-item" aria-current="true">
    <a target="_blank">
      <span (click)="price0()">
        &#8377;0 - &#8377;100

      </span>
    </a>


  </li>
  <li class="list-group-item" aria-current="true">
    <a target="_blank">
      <span (click)="price()">
        &#8377;100 - &#8377;200

      </span>
    </a>


  </li>
  <li class="list-group-item" aria-current="true">
    <span (click)="price1()">
      &#8377;200 - &#8377;300
    </span>

  </li>
  <li class="list-group-item" aria-current="true">
    <span (click)="price2()">
      &#8377;300 - &#8377;400
    </span>

  </li>
  <li class="list-group-item" aria-current="true">
    <span (click)="price3()">
      &#8377;400 - &#8377;500
    </span>

  </li>
  <li class="list-group-item" aria-current="true">
    <span (click)="price4()">
      &#8377;500 Onwards
    </span>

  </li>
  <li class="list-group-item" aria-current="true">
    <span style="font-weight: bolder;" (click)="lowTohigh()">
      Price Low To High
    </span>

  </li>

  <li class="list-group-item" aria-current="true">
    <span style="font-weight: bolder;" (click)="highTolow()">
      Price High To Low
    </span>

  </li>


</ul>
