<div class="p-3" [hidden]="!div">
    <div class="card p-2 btc">
        <span class="font-weight-bolder org text-center" style="font-size: large;">PRODUCT
        </span>
    </div>
    <br>
    <form #productform="ngForm" enctype="multipart/form-data">
        Book Name:
        <div class="input-group">

            <input name="bookname" [(ngModel)]="product.book_name" type="text" class="form-control"
                placeholder="Enter Book Name" #bookname required>
        </div>
        <br>
        Author Name :
        <div class="input-group">
            <input name="authorname" [(ngModel)]="product.author_name" type="text" class="form-control"
                placeholder="Enter Author Name" #authorname required>
        </div>
        <br>
        Isbn :
        <div class="input-group">
            <input name="isbn" [(ngModel)]="product.Isbn_no" type="text" class="form-control"
                placeholder="Enter Isbn Number" #isbn required>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                language :
                <div class="input-group">
                    <input name="language" [(ngModel)]="product.language" type="text" class="form-control"
                        placeholder="Enter language" #language required>
                </div>
                <br>
            </div>
            <div class="col-3">
                print Type :
                <div class="input-group">
                    <input name="print_type" [(ngModel)]="product.print_type" type="text" class="form-control"
                        placeholder="Enter Print Type" #print_type required>
                </div>
                <br>
            </div>
            <div class="col-3">
                publisher :
                <div class="input-group">
                    <input name="publisher" [(ngModel)]="product.publisher" type="text" class="form-control"
                        placeholder="Enter publisher name" #publisher required>
                </div>
                <br>
            </div>
            <div class="col-3">
                condition :
                <div class="input-group">
                    <input name="condition" [(ngModel)]="product.condition" type="text" class="form-control"
                        placeholder="Enter condition" #condition required>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                quantity :
                <div class="input-group">
                    <input name="quantity" [(ngModel)]="product.quantity" type="text" class="form-control"
                        placeholder="Enter Quantity" #quantity required>
                </div>
                <br>
            </div>
            <div class="col-3">
                Mrp :
                <div class="input-group">
                    <input name="mrp" [(ngModel)]="product.mrp" type="text" class="form-control" placeholder="Enter Mrp"
                        #mrp required>
                </div>
                <br>
            </div>
            <div class="col-3">
                sale price :
                <div class="input-group">
                    <input name="sale_price" [(ngModel)]="product.sale_price" type="text" class="form-control"
                        placeholder="Enter sale price" #sale_price required>
                </div>
                <br>
            </div>
            <div class="col-3">
                saved price :
                <div class="input-group">
                    <input name="saved_price" [(ngModel)]="product.saved_price" type="text" class="form-control"
                        placeholder="Enter savedprice" #saved_price required>
                </div>
                <br>
            </div>

        </div>
        <div class="row">
            <div class="col-3">
                Selling Price :
                <div class="input-group">
                    <input name="selling_price" [(ngModel)]="product.selling_price" type="text" class="form-control"
                        placeholder="Enter selling price" #selling_price required>
                </div>
                <br>
            </div>
            <div class="col-3">
                publication year :
                <div class="input-group">
                    <input name="publicationyear" [(ngModel)]="product.publication_year" type="text"
                        class="form-control" placeholder="Enter publication Year" #publicaion_year required>
                </div>
                <br>
            </div>
            <div class="col-3">
                Dimension :
                <div class="input-group">
                    <input name="dimension" [(ngModel)]="product.dimensions" type="text" class="form-control"
                        placeholder="Enter Dimension" #dimension required>
                </div>
                <br>
            </div>
            <div class="col-3">
                Weight :
                <div class="input-group">
                    <input name="weight" [(ngModel)]="product.weight" type="text" class="form-control"
                        placeholder="Enter weight" #weight required>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col-6">
                    No Of Pages :
                    <div class="input-group">
                        <input name="no_of_pages" [(ngModel)]="product.no_Of_pages" type="text" class="form-control"
                            placeholder="Enter no of pages" #no_of_pages required>
                    </div>
                    <br>
                </div>
                <div class="col-6">
                    SKU :
                    <div class="input-group">
                        <input name="sku" [(ngModel)]="product.sku" type="text" class="form-control"
                            placeholder="Enter SKU" #sku required>
                    </div>
                    <br>
                </div>
            </div>
            <br>
            <div class="row">

                <div class="col-6">
                    <div class="form-file">
                        <input type="file" name="book_img" accept="image/*" (change)="selectfiles($event)" #fileinput
                            multiple>
                    </div>
                </div>
                <div class="col-6">
                    <img class="p-1" *ngFor="let url of urls" height="100px" width="100px" [src]="url">
                </div>
            </div>
        </div>
        <div>
            <br>
            Discription:
            <div class="input-group">

                <textarea [(ngModel)]="product.description" name="discription" type="text" class="form-control"
                    placeholder="Enter Discription" #discription required></textarea>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button class="btn btn-success" [disabled]="productform.invalid" style="border-radius: 0;"
                (click)="submitbook();"> {{formbutton? 'Update Book': 'Add Book'}} </button>
        </div>
    </form>
</div>

<div class="d-flex justify-content-end mb-1">

        <button class="btn btn-success w-50" (click)="showbook()">{{button?'Add Book' : 'Hide Book Form'}}</button>

    <div class="input-group " style="width: 50%;">
        <span class="input-group-text" style="background-color: #212529; color: white;">Search : </span>
        <input type="text" [(ngModel)]="booksearch" aria-label="Search" class="form-control">

    </div>
</div>

<div>
    <table class="table  table-dark table-striped table-hover" *ngIf="book1 > 0">
        <thead class="table-dark text-center">
            <tr>
                <th scope="col">Sr.No
    
                    <!-- &nbsp; <input class="form-check-input" type="checkbox" value="" > -->
    
                </th>
                <th scope="col">Book Image</th>
                <th scope="col">Book Name</th>
                <th scope="col">Isbn_no</th>
                <th scope="col">Weight</th>
                <th scope="col">Price</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
    
            </tr>
        </thead>
        <tbody class="align-middle">
            <ng-container *ngIf="( book | adminFilter:booksearch) as result">
                <tr
                    *ngFor="let books of result | paginate: {  itemsPerPage: 10, currentPage: pages, totalItems: i}; let i = index">
                    <td>{{ 10 * (pages - 1) + i + 1 }}
    
                        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" type="checkbox" value=""> -->
    
                    </td>
                    <td>
                        <img src="{{books.book_img[0]}}" onerror="this.src='assets/images/altimg.png';" class="img-fluid"
                            height="50px" width="50px" alt=""></td>
                    <td>{{books.book_name}}</td>
                    <td>{{books.Isbn_no}}</td>
                    <td>{{books.weight / 1000}}Kg</td>
                    <td>{{books.selling_price}}</td>
                    <td> <button class="btn btn-success" style="border-radius: 0;" (click)="edit(books)">EDIT THIS</button>
                    </td>
                    <td><button (click)="deletebook(books._id)" class="btn btn-outline-danger" style="border-radius: 0;">
                            <span class="material-icons"
                                style="font-size: 3rem; cursor: pointer;">delete_forever</span></button> </td>
                </tr>
                <p class="mt-2" style="color: black; font-size: 3rem;" *ngIf="result.length === 0">No Result Found</p>
            </ng-container>
        </tbody>
    
    </table>
    <pagination-controls class="d-flex justify-content-center" directionLinks="true" (pageChange)="onPageChange($event)"
        autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next">
    </pagination-controls>
    
    
</div>



<div class="row  d-flex justify-content-center" style="height: 500px;" *ngIf="book1 == 0">
    <div style="width: 50%; height: 50%; top: 80px; background-color: #212529; color: white; "
        class="card shadow-bottom align-middle">
        <h5 style="margin-top: 15%;" class="text-center card-title">YOU HAVE NO PRODUCT ADDED</h5>
        <a style="text-decoration: none; color: white; cursor: pointer;" class="d-flex justify-content-center org ">
            CLick Here To Add It </a>
        <span class="material-icons d-flex justify-content-center">
            touch_app
        </span>
    </div>
</div>