@media only screen and (max-width: 600px) {
  #product-main-img {
    display: none;
  }
}


.gotoauthor:hover {
  cursor: pointer;
  color: blue;
}

.slick-list {
  height: 430px !important;
  padding: 0px;
}

.draggable {
  height: 430px !important;
  padding: 0px;
}