<div class="row g-0" style="padding-bottom: 10px;">
  <div class="col-xs-12 col-md-6 col-lg-6">
    <div class="row g-0">
      <div class="col-md-3 p-1">
        <div class="row g-1 r1 d-none d-sm-block d-md-block d-lg-block"  style="padding-bottom: 5px;">
          <ng-template [ngIf]="bookimg.length > 0">
            <div id="product-imgs">
              <div *ngFor="let t of bookimg" class="product-preview p-2">
                <img [src]="t" height="100px"   (error)='delimg($event)' alt="">
              </div>
            </div>
          </ng-template>
          <ng-template [ngIf]="bookimg.length === 0" >
            <div id="product-imgs">
              <div class="product-preview">
                <img src="assets/images/altimg.png"  onerror="this.src='assets/images/altimg.png';" alt="">
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="col-md-8 p-1 ">
        <div id="product-main-img">
          <ng-template [ngIf]="bookimg.length === 0">
            <div class="product-preview">
              <img src="assets/images/altimg.png" height="440" width="90"  onerror="this.src='assets/images/altimg.png';" alt="">
            </div>
          </ng-template>
          <ng-template [ngIf]="bookimg.length > 0" >
            <div class="product-preview" *ngFor="let t of bookimg">
              <img [src]="t" height="440"  width="90" onerror="this.src='assets/images/altimg.png';" alt="">
            </div>
          </ng-template>
        </div>
      </div>
    </div>

  </div>
  <div class="col-xs-12 col-md-6 col-xl-6 col-lg-6">

      <div class="container-fluid">
        <h5>
          {{ details.book_name }}
        </h5>
        <div class="gotoauthor org"
          (click)="gotoauthorsearch(details.author_name)">by {{ details.author_name }}</div>
        <br />
        <div class="color"><b>ISBN:</b> {{ details.Isbn_no }}</div>

        <div class="gotoauthor color org"
        (click)="gotopublishersearch(details.publisher)"><b>Publisher: </b> {{ details.publisher }}</div>
        <br />
        <div *ngIf="unique.length == 0" class="color" style="padding-bottom: 10px;">
          <b>Condition:</b>
           <b> ( {{details.condition}} )</b>
        </div>
        <div class="col-xs-12 col-lg-8">
          <select [(ngModel)]="selected" *ngIf="unique.length != 0" style="border-radius: 0px !important;" class="form-select" aria-label="Default select example"
            name="selected">
            <option *ngFor="let condition of unique" (click)="bookchange(condition)">     
                {{condition.condition}} 
            </option>

          </select>
          <br />
          <div class="color" style="padding-bottom: 10px;">
            <b>Print Type:</b> {{details.print_format}}
          </div>
        </div>
        <div class="color" *ngIf="details.mrp_inr !=0 && details.mrp_inr !=null && category.category!='Collectibles' ">
          <b>MRP:</b> <s>
            <span *ngIf="details.mrp_dollar !=0 ">
              {{ details.mrp_dollar | currency:'USD' }}
            </span>
            <span *ngIf="details.mrp_euro !=0 ">
              {{ details.mrp_euro | currency:'EUR' }}
            </span>
            <span *ngIf="details.mrp_aus_dollar !=0 ">
              {{ details.mrp_aus_dollar | currency:'AUS' }}
            </span>
            <span *ngIf="details.mrp_pound !=0 ">
              {{ details.mrp_pound | currency:'GBP' }}
            </span>
            <span style=" font-size: 1rem;">({{ details.mrp_inr | currency:'INR' }})</span> </s>
        </div>

        <div *ngIf="details.sale_price ==null || details.sale_price == 0;else final">
          <div *ngIf="details.final_price !=null && details.final_price !=0" class="color mt-2" style="width: 100%;">
            <b>Selling Price:</b>
            <span style="color: #ff4136; font-size: 30px;">
              {{ details.final_price | currency:'INR' }}
            </span><span *ngIf="category.category!='Collectibles'"><b>({{details.weight}}gms X {{details.rate}}/Kg.)</b></span>
          </div>

          <div class="color mt-1"
          *ngIf="details.discount_rs !=null
          && details.discount_rs!=0
          && details.discount_per!=0
          && details.discount_per !=null">
            <b>You save {{ details.discount_rs | currency:'INR'}} ({{details.discount_per}}%)</b>
          </div>
        </div>

       <ng-template #final >
        <div *ngIf="details.final_price !=null && details.final_price !=0" class="color mt-2" style="width: 100%;">
          <s>
           <b>Selling Price:</b>
           <span style="color: #ff4136; font-size: 30px;">
             {{ details.final_price | currency:'INR' }}
           </span><span><b>({{details.weight}}gms X {{details.rate}}/Kg.)</b></span>
          </s>
         </div>

         <div class="color mt-1"
         *ngIf="details.discount_rs !=null
         && details.discount_rs!=0
         && details.discount_per!=0
         && details.discount_per !=null">
         <s>
           <b>You save {{ details.discount_rs | currency:'INR'}} ({{details.discount_per}}%)</b>
         </s>
         </div>
       </ng-template>


        <div  *ngIf="details.sale_price !=null && details.sale_price !=0">
          <div class="mt-3" *ngIf="details.sale_price !=null && details.sale_price !=0">
            <span  style="color: blue; font-size: 2rem;">
             <b>Sale Price: &#8377;{{ details.sale_price}} </b>
            </span>
             <span class="color">
               <b>({{details.weight}}gms X {{details.sale_rate}}/Kg.)</b>
             </span>
           </div>
           <div class="color mt-1"
           *ngIf="details.sale_disc_inr !=null
           && details.sale_disc_inr !=0
           && details.sale_disc_per!=0
           && details.sale_disc_per !=null">
             <b>You save {{ details.sale_disc_inr | currency:'INR'}} ({{details.sale_disc_per}}%)</b>
           </div>
        </div>


        <div class="mt-2">Quantity: {{ details.quantity }}</div>
        <br />
        <div class="row gy-2">
       <div class="col-sm-6 col-md-3">
        <div *ngIf="!cartbutton && details.quantity != 0" (click)="addCart(details,details._id,details.final_price,details.weight)"
        class="c bg-org card text-center p-2" style="cursor: pointer;">
        ADD TO CART
      </div>
      <div *ngIf="cartbutton && details.quantity != 0" (click)="gotocart()" class="c bg-org card text-center p-2"
        style=" cursor: pointer;">
        ADD TO CART
      </div>
      <div *ngIf="details.quantity == 0" (click)="notify()" class="c bg-org card text-center p-2"
      style=" cursor: pointer;">
      Out Of Stock
    </div>

       </div>
       <div class="col-sm-6 col-md-2">
        <div *ngIf="!addedToWishlist" class="c bg-org card text-center p-2" style=" cursor: pointer;">
          <a>
            <span (click)="addWish(details._id)" class="material-icons wish">
              favorite_border
            </span>
          </a>
        </div>

        <div *ngIf="addedToWishlist" class="c bg-org card text-center p-2" style="cursor: pointer;">
          <a>
            <span (click)="deletePro(details._id)" class="material-icons wish">
              favorite
            </span>
          </a>
        </div>
       </div>
        </div>

        <!-- <div style="margin-top: 10px;">
          <li class="list-group-item" style="border: none;">
            <span style="margin-right: 10px; text-decoration: none; color: #666666;">Share:</span>
            <a (click)="copyfacebook()" class="round" style="margin-right: 10px;"><img src="../../assets/icons/facebook.png"
                height="30px" width="30px" alt="" /></a>
            <a (click)="copytwitter()" class="round" style="margin-right: 10px;"><img src="../../assets/icons/twitter.png"
                height="30px" width="30px" alt="" /></a>
            <a (click)="copyinsta()" class="round" style="margin-right: 10px;"><img src="../../assets/icons/instagram.png"
                height="30px" width="30px" alt="" /></a>
            <a (click)="copygoogle()"  class="round" style="margin-right: 10px;"><img src="../../assets/icons/google.png" height="30px"
                width="30px" alt="" /></a>
          </li>
        </div> -->
      </div>

  </div>
</div>
