<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table style="text-align: center; width: 100%;">
        <tr style="border: 1px solid #c1c1c1;">
          <th style="border: 1px solid #c1c1c1;">BOOK COVER</th>
          <th style="border: 1px solid #c1c1c1;">BOOK TITLE</th>
          <th style="border: 1px solid #c1c1c1;">PRICE(₹)</th>
          <th style="border: 1px solid #c1c1c1;">BOOK WEIGHT</th>
          <th style="border: 1px solid #c1c1c1;">QUANTITY</th>
          <th style="border: 1px solid #c1c1c1;">TOTAL</th>
          <th style="border: 1px solid #c1c1c1;">REMOVE</th>
        </tr>
        <tr style="border-width: 1px;" *ngFor="let item of productItem.cart">
          <td style="border-width: 1px;">
            <a (click)="productHome(item.book._id)"><img src="{{ item.book.book_img[0] }}" class="high" /></a>
          </td>
          <td style="border-width: 1px;">
            <a href="#" style="
                font-size: 14px;
                color: #6f6f6f;               font-weight: 700;

                text-decoration: none;
              ">{{ item.book.book_name }}</a>
          </td>
          <td style="border-width: 1px;">
            <span style="font-size: 14px; color: #6f6f6f; font-weight: 700;">{{
              item.price
            }}</span>
          </td>
          <td style="border-width: 1px;">
            <span>{{ item.weight  }}Kg </span>
          </td>
          <td style="border-width: 1px;">
            <div class="row d-flex justify-content-center" style="padding-top: 20px;">
              <div  *ngIf="item.quantity > 1" (click)="
                  decrement(
                    item.quantity,
                    item.book._id,
                    item.book.selling_price,
                    item.book.weight
                  )
                " style="width: 20px !important; margin-top: 5px; height: 30px; border-radius: 0;"
                class="btn btn-outline-secondary bg-org">
                <span class="material-icons" style="margin-left: -10px;  margin-top: -4px;">
                  remove
                </span>
              </div>
              &nbsp;&nbsp;&nbsp;
              <input disabled [value]="item.quantity" type="text" style="
                  
                  width: 30px !important;
                  height: 40px;
                  margin-left: 0px;
                " />
                &nbsp;&nbsp;&nbsp;
              <div *ngIf="item.book.quantity > item.quantity" (click)="
                  increment(
                    item.quantity,
                    item.book._id,
                    item.book.selling_price,
                    item.book.weight
                  )
                " style="width: 20px !important; height: 30px; margin-top: 5px; border-radius: 0; margin-left: -8px;"
                class="btn btn-outline-secondary bg-org">
                <span class="material-icons" style="margin-left: -10px; margin-top: -4px;">
                  add
                </span>
              </div>
            </div>
          </td>
          <td style="border-width: 1px;">
            <span style="font-size: 14px; color: #6f6f6f; font-weight: 700;">{{
              item.total
            }}</span>
          </td>
          <td style="border-width: 1px;">
            <a (click)="delCart(item._id)"><img src="../../assets/images/bin.png" /></a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 44px;">
  <div class="row">
    <div class="col-sm-6">
      <button class="button button1">
        <a href="#" class="shop" style="
            font-size: 12px;
            color: white;
            font-weight: 700;
            text-decoration: none;
            font-family: sans-serif;
          ">CONTINUE SHOPPING</a>
      </button>
      <br />
      <h3 class="coup">COUPON</h3>
      <p>Enter your coupon code if you have one.</p>
      <input type="text" placeholder="Coupon code" />
      <button class="button button1" style="margin-top: 0px;">
        <a href="#" class="shop" style="
            font-size: 12px;
            color: white;
            font-weight: 700;
            text-decoration: none;
            font-family: sans-serif;
          ">APPLY COUPON</a>
      </button>
    </div>
    <div class="col-sm-6" style="text-align: right;">
      <div class="cart-totals">
        <h2>CART TOTALS</h2>
        <div class="row g-0">
          <div class="col" style="font-weight: bolder;">
            <span>SUBTOTAL WITHOUT SHIPPING</span>
            <br /><br />
            <span>TOTAL BOOK WEIGHT</span>
            <br /><br />
            <span>SHIPPING</span>
            <br /><br /><br />
            <span style="font-size: 2em;">TOTAL WITH SHIPPING</span>
          </div>
          <div class="col" style="font-weight: bolder;">
            <span>&#8377;{{ subtotal }}</span>
            <br /><br />
            <span>{{ totalweight }}KG</span>
            <br /><br />
            <span>FLAT RATE: &#8377;50.00/ BOOK<br />
              Free Shipping Above &#8377;500
            </span>
            <br /><br />
            <span style="font-size: 2rem;">&#8377;{{ total }} </span>
          </div>
        </div>
        <div class="wc-proceed-to-checkout org" style="list-style-type: none;">
          <button (click)="gotocheckout() " class="button button2" style="margin-top: 30px;">
            Proceed to Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

