<div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="d-block d-sm-none">
          <div class="card p-2 btc w-100">
            <span class="font-weight-bolder org text-center" style="font-size: large;">Cart
            </span>
          </div>
          <div class="row g-2 mt-1" *ngFor="let item of productItem.cart; let i = index">
            <div class="col-xs-12 col-sm-4 col-md-3">
              <div class="card shadow-sm">
                <div class="row p-1">
                  <div class="col-3">
                    <a (click)="productHome(item.book._id)"><img src="{{ item.book.book_img[0] }}"
                        onerror="this.src='assets/images/altimg.png';" height="300px" class="img-fluid" /></a>
                  </div>
                  <div class="col">
                    <span style="text-align: justify;">
                      {{item.book.book_name | truncate :80}}
                    </span>
                  </div>

                </div>
                <div class="row p-2">
                  <div class="col-4">
                    <span style="font-size: 15px;" class="align-middle">
                      Price:
                    </span>
                  </div>
                  <div class="col">
                    <span class="align-middle">
                      {{item.price }}
                    </span>
                  </div>
                </div>
                <div class="row p-2">
                  <div class="col-4">
                    <span style="font-size: 15px;" class="align-middle">
                      Weight:
                    </span>
                  </div>
                  <div class="col">
                    <span class="align-middle">
                      {{item.weight | number}} g
                    </span>
                  </div>
                </div>
                <div class="row p-2">
                  <div class="col-4">
                    <span style="font-size: 15px;" class="align-middle">
                      Quantity:
                    </span>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-4" *ngIf="item.quantity > 1">
                        <button (click)="
                          decrement(
                            item.quantity,
                            item.book._id,
                            item.price,
                            item.book.weight
                          )" class="btn btn-outline-secondary">
                          <span class="material-icons">
                            remove
                          </span>
                        </button>
                      </div>
                      <div class="col-3">
                        <input disabled [value]="item.quantity" style="width: 50px;" type="text" />
                      </div>
                      <div class="col-4" *ngIf="item.book.quantity > item.quantity">
                        <button (click)="
                        increment(
                          item.quantity,
                          item.book._id,
                          item.price,
                          item.book.weight
                        )" class="btn btn-outline-secondary">
                          <span class="material-icons">
                            add
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row p-2">
                  <div class="col-4">
                    <span style="font-size: 15px;" class="align-middle">
                      Total:
                    </span>
                  </div>
                  <div class="col">
                    <span class="align-middle">
                      {{item.total}}
                    </span>
                  </div>
                </div>
                <div class="p-2">
                  <button (click)="delCart(item._id)" class="btn btn-danger org w-100">
                    <!-- <span class="material-icons">
                      delete_forever
                    </span> -->
                    <span>
                      Delete
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive d-none d-sm-block d-md-block d-lg-block">
          <table style="text-align: center; width: 100%;">
            <tr style="border: 1px solid #c1c1c1;">
              <th style="border: 1px solid #c1c1c1;">BOOK COVER</th>
              <th style="border: 1px solid #c1c1c1;">BOOK TITLE</th>
              <th style="border: 1px solid #c1c1c1;">PRICE(₹)</th>
              <th style="border: 1px solid #c1c1c1;">BOOK WEIGHT</th>
              <th style="border: 1px solid #c1c1c1;">QUANTITY</th>
              <th style="border: 1px solid #c1c1c1;">TOTAL</th>
              <th style="border: 1px solid #c1c1c1;">REMOVE</th>
            </tr>
            <tr style="border-width: 1px;" *ngFor="let item of productItem.cart">
              <td style="border-width: 1px;">
                <a (click)="productHome(item.book._id)"><img src="{{ item.book.book_img[0] }}"
                    onerror="this.src='assets/images/altimg.png';" class="high" /></a>
              </td>
              <td style="border-width: 1px;">
                <a (click)="productHome(item.book._id)" style="
              font-size: 14px;
              color: #6f6f6f;
              font-weight: 700;
              text-decoration: none;
            ">{{ item.book.book_name | truncate:20 }}</a>
              </td>
              <td style="border-width: 1px;">
                <span style="font-size: 14px; color: #6f6f6f; font-weight: 700;">{{
            item.price | number:'1.0-0'
          }}</span>
              </td>
              <td style="border-width: 1px;">
                <span>{{ item.weight | number:'1.0-0' }} g </span>
              </td>
              <td style="border-width: 1px;">
                <div class="row d-flex justify-content-center" style="padding-top: 20px;">
                  <div *ngIf="item.quantity > 1" (click)="
                decrement(
                  item.quantity,
                  item.book._id,
                  item.price,
                  item.book.weight
                )
              " style="width: 20px !important; margin-top: 5px; height: 30px; border-radius: 0;"
                    class="btn btn-outline-secondary bg-org">
                    <span class="material-icons" style="margin-left: -10px;  margin-top: -4px;">
                      remove
                    </span>
                  </div>
                  &nbsp;&nbsp;&nbsp;
                  <input disabled [value]="item.quantity" type="text" style="

                width: 30px !important;
                height: 40px;
                margin-left: 0px;
              " />
                  &nbsp;&nbsp;&nbsp;
                  <div *ngIf="item.book.quantity > item.quantity" (click)="
                increment(
                  item.quantity,
                  item.book._id,
                  item.price,
                  item.book.weight
                )
              " style="width: 20px !important; height: 30px; margin-top: 5px; border-radius: 0; margin-left: -8px;"
                    class="btn btn-outline-secondary bg-org">
                    <span class="material-icons" style="margin-left: -10px; margin-top: -4px;">
                      add
                    </span>
                  </div>
                </div>
              </td>
              <td style="border-width: 1px;">
                <span style="font-size: 14px; color: #6f6f6f; font-weight: 700;">{{
            item.total
          }}</span>
              </td>
              <td style="border-width: 1px;">
                <a (click)="delCart(item._id)"><img src="../../assets/images/bin.png" /></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 44px;">

    <div class="row">
      <div class="col-sm-6 d-block d-sm-none">
        <div class="d-flex justify-content-center" *ngIf="!couponhide">
          <button class="btn btn-success w-100" (click)="togglecoupon()"> Change Coupon </button>
        </div>
        <div *ngIf="couponhide  && allcoupons.length > 0">
          <div class="card p-2 btc w-100">
            <span class="font-weight-bolder org text-center" style="font-size: large;">Coupons
            </span>
          </div>
          <div class="card mt-2 " *ngFor="let coupon of allcoupons |
          paginate: { id: 'mobile', itemsPerPage: 5, currentPage: pages, totalItems: i}; let i = index">
            <div class="row  p-2" *ngIf="coupon.coupon_amount !=null">
              <div class="col">
                <span>
                  Code: <br>
                  {{coupon.coupon_code}}
                </span>
              </div>
              <div class="col" *ngIf="coupon.percentage == true">
                In Percentage
                <a class="btn-outline-success p-1" style="width: 20px;" (click)="select(coupon)">
                  <span class="material-icons">touch_app</span>
                </a>
                <br>
                {{coupon.coupon_amount}} %
              </div>
              <div class="col" *ngIf="coupon.percentage == false">
                Amount In Rs:
                <a class="btn-outline-success p-1" style="width: 20px;" (click)="select(coupon)">
                  <span class="material-icons">touch_app</span>
                </a>
                <br>
                {{coupon.coupon_amount | currency:'INR'}}
              </div>
            </div>
            <!-- <div class="p-2">
              <button class="btn btn-success w-100 btn-sm" (click)="select(coupon)"> Select </button>
            </div> -->
          </div>
          <pagination-controls id="mobile" class="d-flex justify-content-center" directionLinks="true"
            (pageChange)="onPageChange($event)" autoHide="true" responsive="true" previousLabel="Previous"
            nextLabel="Next">
          </pagination-controls>
        </div>
      </div>
      <div class="col-sm-6 d-none d-sm-block d-md-block d-lg-block">
        <div class="d-flex justify-content-center" *ngIf="!couponhide">
          <button class="btn btn-outline-success w-50" (click)="togglecoupon()"> Change Coupon </button>
        </div>
        <br>
        <div *ngIf="couponhide && allcoupons.length > 0">
          <div class="card p-2 btc w-100">
            <span class="font-weight-bolder org text-center" style="font-size: large;">Coupons
            </span>
          </div>
          <br>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">
                    Coupon code
                  </th>
                  <th scope="col">
                    Coupon_amount / Percentage
                  </th>
                  <th scope="col">
                    Expiry Date
                  </th>
                  <th scope="col">
                    select
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let coupon of allcoupons |
                paginate: {  itemsPerPage: 5, currentPage: pages, totalItems: i}; let i = index">
                  <ng-container *ngIf="coupon.coupon_amount !=null">
                    <td>
                      {{coupon.coupon_code}}
                    </td>
                    <td *ngIf="coupon.percentage == true">
                      {{coupon.coupon_amount}} %
                    </td>
                    <td *ngIf="coupon.percentage == false">
                      {{coupon.coupon_amount | currency:'INR'}}
                    </td>
                    <td>
                      {{coupon.expiry_date | date}}
                    </td>
                    <td>
                      <button class="btn btn-outline-success btn-sm" (click)="select(coupon)"> Select </button>
                    </td>
                  </ng-container>
                </tr>

              </tbody>
            </table>
          </div>
          <pagination-controls class="d-flex justify-content-center" directionLinks="true"
            (pageChange)="onPageChange($event)" autoHide="true" responsive="true" previousLabel="Previous"
            nextLabel="Next">
          </pagination-controls>
        </div>
      </div>
      <div class="col-sm-6" style="text-align: right;">
        <div class="cart-totals">
          <h4>CART TOTALS</h4>
          <div class="row g-0">
            <div class="col" style="font-weight: bolder;">
              <span>SUBTOTAL WITHOUT SHIPPING</span>
              <br /><br />
              <span>TOTAL BOOK WEIGHT</span>
              <br /><br />
              <span>SHIPPING</span>
              <br /><br /><br />
              <span *ngIf="total<=500">TOTAL SHIPPING COST</span>
              <br *ngIf="total<=500"/><br *ngIf="total<=500"/>
              <span *ngIf="this.coupons.coupon_code !==null" >
                Coupon Applied
                <br /><br />
              </span>
              <span style="font-size: 1em;">TOTAL WITH SHIPPING</span>
            </div>
            <div class="col" style="font-weight: bolder;">
              <span>
                <span style="color: red;" *ngIf="this.coupons.coupon_code !==null">
                  <s> {{s | number:'1.0-0' }}</s>
                </span> &nbsp;&nbsp;
                {{ subtotal | number:'1.0-0'  }}</span>
              <br /><br />
              <span>{{ totalweight | number:'1.0-0' }} g</span>
              <br /><br />
              <span>FLAT RATE: &#8377;50.00/ BOOK<br />
                Free Shipping Above &#8377;500
              </span>
              <br /><br />
              <span *ngIf="total<=500">{{totalitems}}(Total Books)&nbsp;  X &nbsp;50(Shipping) + {{subtotal | number:'1.0-0'}}</span>
              <br *ngIf="total<=500"/><br *ngIf="total<=500"/>
              <span *ngIf="this.coupons.coupon_code !==null">
                {{coupons.coupon_code}}
                <br /><br />
              </span>
              <span style="font-size: 1rem;">
                <span style="color: red;" *ngIf="this.coupons.coupon_code !==null">
                  <s>{{t | number:'1.0-0'  }}</s>
                </span> &nbsp;&nbsp;
                {{ total | number:'1.0-0'  }} </span>
            </div>
          </div>
          <br>
          <a style="text-decoration: solid ; color: red;" (click)="return()"><u>Click Here To Know About Return
              Policy</u></a>
          <div class="wc-proceed-to-checkout org" style="list-style-type: none;">
            <button (click)="gotocheckout()" class="button button2" style="margin-top: 30px;">
              Proceed to Checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
