.bg-image {
    background-image: url('../../../assets/images/5.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
  }
 
  .table th,
  td {
    background: #fff none repeat scroll 0 0;
    border-color: #c1c1c1;
    border-radius: 0;
    border-style: solid;

    text-align: center;
   
  }
  
  table,
  th,
  td {
    border-collapse: collapse;
  }
  
  .high {
    width: 80px;
  }
  

  .button {
    background-color: black;
    border: none;
    color: white;
    /* text-align: right; */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {
    padding: 8px 4px;
  }
  
  .button1:hover {
    background-color: red;
    color: white;
  }
  
  .coup {
    font-size: 14px;
    margin-top: 25px;
  }
  
  input[type="text"] {
    border: 1px solid gray;
    float: left;
    height: 40px;
    margin: 0 6px 20px 0;
    max-width: 100%;
    padding: 0 0 0 10px;
    width: 170px;
    border-radius: 0px;
    background-color: white;
  }
  

  

  
  tr.order-total .amount {
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: right;
  }
  
  th.order-total .amount {
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: right;
  }
  
  .button2 {
    padding: 8px 4px;
    margin-top: 30px;
    height: 50px;
    padding: 0 45px;
    font-weight: 700;
    display: inline-block;
  }
  
  .button2:hover {
  
    color: white;
    background-color: #ff4136;
  }
  
  