<div class="p-2">
  <div class="section1">
    <app-header></app-header>
    <div class="bg-image" style="position: relative;
       text-align: center;">
      <div style="  position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); font-size: xx-large;" class="org">
        Profile <br><br>
        Home / Profile
      </div>
    </div>
    <!-- Write the code inside this div. -->
    <ul class="nav nav-pills justify-content-center" id="nav-tab" role="tablist" >
      <li class="nav-item">
        <a class="nav-link org active" id="login-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="login"
        aria-selected="true" >My Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link org" id="register-tab" data-toggle="tab" href="#address" role="tab" aria-controls="register"
        aria-selected="false">My Address</a>
      </li>
      <li class="nav-item">
        <a class="nav-link org" id="register-tab" data-toggle="tab" href="#account" role="tab" aria-controls="register"
          aria-selected="false" >Edit Account</a>
      </li>
      <li class="nav-item">
        <img src="../../assets/images/defaulprofile.jpg" height="100px" width="100px" alt="">
      </li>
    </ul>
    <!-- <nav  class="nav nav-pills justify-content-center" >
      <div class="nav nav-tabs" id="nav-tab" role="tablist" style="justify-content: center; border: none;">
        <a class="nav-link org active" id="login-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="login"
          aria-selected="true" >My Orders</a>
        <a class="nav-link org" id="register-tab" data-toggle="tab" href="#address" role="tab" aria-controls="register"
          aria-selected="false">My Address</a>
          <a class="nav-link org" id="register-tab" data-toggle="tab" href="#account" role="tab" aria-controls="register"
          aria-selected="false" >Edit Account</a>
      </div>
    </nav> -->
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="orders" role="tabpanel" aria-labelledby="login-tab">
       <div class="container p-3">
        <app-userorders></app-userorders>
       </div>
      </div>
      <div class="tab-pane fade " id="address" role="tabpanel" aria-labelledby="register-tab">
        <div class="container p-3">
          <app-useraddress></app-useraddress>
        </div>
      </div>
      <div class="tab-pane fade " id="account" role="tabpanel" aria-labelledby="register-tab">
        <div class="container p-3">
          <app-user-account-edit></app-user-account-edit>
        </div>
      </div>


    </div>
    <!-- <div class="row p-3 " style="margin-left: 10px; margin-right: 10px;">

      <div class="col-3 ">
        <div  style="width: 100px;" class="ml-5">
          <img src="../../assets/images/defaulprofile.jpg" height="100px" width="100px" alt="">
        </div>
        <br>
        <div class="list-group " id="list-tab" role="tablist" style="height: 100%; width: 80%;">
          <a class="list-group-item list-group-item-action active " id="list-home-list" data-toggle="list"
            href="#list-home" role="tab" aria-controls="home">My Orders</a>
          <a class="list-group-item list-group-item-action " id="list-profile-list" data-toggle="list"
            href="#list-profile" role="tab" aria-controls="profile">My Addresses</a>
          <a class="list-group-item list-group-item-action " id="list-messages-list" data-toggle="list"
            href="#list-messages" role="tab" aria-controls="messages">Edit Account</a>
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <app-userorders></app-userorders>
          </div>
          <div class="tab-pane fade  " id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            <app-useraddress></app-useraddress>
          </div>
          <div class="tab-pane fade " id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
            <app-user-account-edit></app-user-account-edit>
          </div>
        </div>
      </div>
    </div> -->


  </div>
  <div class="stickyfooter">
    <app-footer></app-footer>
  </div>
</div>
