<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <table style="text-align: center; width:100%;">
        <tr style="border: 1px solid #c1c1c1;">
          <th style="border: 1px solid #c1c1c1;">REMOVE</th>
          <th style="border: 1px solid #c1c1c1;">BOOK COVER</th>
          <th style="border: 1px solid #c1c1c1;">BOOK TITLE</th>
          <th style="border: 1px solid #c1c1c1;">UNIT PRICE(₹)</th>
          <th style="border: 1px solid #c1c1c1;">STOCK STATUS</th>
          <th style="border: 1px solid #c1c1c1;">ADD TO CART</th>


        </tr>
        <tr style="border-width: 1px;" *ngFor="let wish of productItem.books">
          <td style="border-width: 1px; cursor: pointer;"><a (click)="deletePro(wish.book._id)">

            <img src="../../assets/images/bin.png" /></a> </td>
          <td style="border-width: 1px"><a><img src="{{wish.book.book_img[0]}}" onerror="this.src='assets/images/altimg.png';" class="high"></a></td>
          <td style="border-width: 1px"><a href="#"
              style="font-size: 14px; color: #6f6f6f; font-weight: 700; text-decoration: none;"></a>{{wish.book.book_name}}
          </td>
          <td style="border-width: 1px">
            <span *ngIf="wish.book.sale_price == null || wish.book.sale_price == 0;else final" style="color:red">&#8377;
              {{wish.book.final_price}}
            </span>
            <ng-template #final >
              <span *ngIf="wish.book.sale_price != null && wish.book.sale_price != 0;" style="color:red">&#8377;
                <s>{{wish.book.final_price}}</s>
              </span>
            </ng-template> <br>
            <span *ngIf="wish.book.sale_price != null && wish.book.sale_price != 0;" style="color:blue">
              sale price: &#8377;{{wish.book.sale_price | number:'1.0-0' }}
            </span>

          </td>
          <td style="border-width: 1px"><span *ngIf="wish.book.quantity > 0">In Stock</span>
            <span *ngIf="wish.book.quantity == 0">Out Of Stock</span></td>
          <td style="border-width: 1px ; padding: 10px;"> <button class="button button1"
              (click)="addCart(wish.book._id,wish.book.final_price,wish.book.sale_price,wish.book.weight)"><a class="shop" style="font-size: 12px; color: white; font-weight: 700;
             text-decoration: none; ">ADD TO CART</a></button></td>


        </tr>


      </table>
    </div>
  </div>

</div>

