<div class="p-2">

  <div class="row g-2 p-3">
    <div class=" col d-flex justify-content-center">
      <div class="card shadow-bottom" style="width: 18rem;background-color: #212529; color: white;">
        <div class="card-body">
          <h5 class="card-title">PRODUCTS <span class="d-flex justify-content-end">[{{totalBooks}}]</span></h5>
          <a href="/admin/dashboard/view-products" style="text-decoration: none; color: white;"
            class="d-flex justify-content-end org ">View Products</a>
        </div>
      </div>
    </div>
    <div class=" col d-flex justify-content-center" *ngIf="role ==='SuperAdmin'">
      <div class="card shadow-bottom" style="width: 18rem;background-color: #212529; color: white;">
        <div class="card-body">
          <h5 class="card-title">USERS <span class="d-flex justify-content-end">[{{count}}]</span></h5>
          <a href="/admin/dashboard/view-users" style="text-decoration: none; color: white;"
            class="d-flex justify-content-end org ">View Users</a>
        </div>
      </div>
    </div>
    <div class=" col d-flex justify-content-center" *ngIf="role ==='SuperAdmin'">
      <div class="card shadow-bottom" style="width: 18rem;background-color: #212529; color: white;">
        <div class="card-body">
          <h5 class="card-title">ORDERS <span class="d-flex justify-content-end">[{{orderslength}}]</span></h5>
          <a href="/admin/dashboard/view-orders" style="text-decoration: none; color: white;"
            class="d-flex justify-content-end org ">View Orders</a>
        </div>
      </div>
    </div>
    <div class=" col d-flex justify-content-center">
      <div class="card shadow-bottom" style="width: 18rem;background-color: #212529; color: white;">
        <div class="card-body">
          <h5 class="card-title">COUPONS <span class="d-flex justify-content-end">[{{couponslength}}]</span></h5>
          <a href="/admin/dashboard/Coupon" style="text-decoration: none; color: white;"
            class="d-flex justify-content-end org ">View Coupons</a>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="router.url === '/admin/dashboard/view-products'">
    <app-view-products></app-view-products>
  </div>
  <div *ngIf="router.url === '/admin/dashboard/view-users'">
    <app-view-users></app-view-users>
  </div>
  <div *ngIf="router.url === '/admin/dashboard/view-orders'">
    <app-view-orders></app-view-orders>
  </div>
  <div *ngIf="router.url === '/admin/dashboard/add-bulk-products'">

    <!-- <div class="row  d-flex justify-content-center" style="height: 500px;">
      <div style="width: 50%; height: 50%; top: 80px; background-color: #212529; color: white; "
        class="card shadow-bottom align-middle">
        <h5 style="margin-top: 7%;" class="text-center card-title"><span style="font-size: 2rem;">UPLOAD YOUR EXCEL
            FILE To Convert IDs</span>
          <br> <br> <input (change)="getfile($event)" name="excel_file" #file hidden type="file"></h5>
        <a style="text-decoration: none; color:  white; cursor: pointer;" class="d-flex justify-content-center org "
          (click)="file.click()"> CLick Here To Add It </a>
        <span class="material-icons d-flex justify-content-center">
          touch_app
        </span>

        <div class="d-flex justify-content-center">
          <button height="40px" width="40px" alt="" data-toggle="tooltip" data-placement="right"
            title="Click Here To Upload" [hidden]="button" class="btn btn-outline-dark" (click)="addbulk()"
            style=" margin-top: 10px;cursor: pointer;">
            <span class="material-icons org" style="font-size: 2rem; cursor: pointer;">cloud_done</span>
          </button>
        </div>

      </div>
    </div> -->

    <div class="mt-5">
      <div class="d-flex justify-content-center">
        <div class="card p-2 w-50 btc">
          <span class="font-weight-bolder org text-center" style="font-size: large;">Excel Upload
          </span>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-1">

        <div class="card p-2  w-50" style="background-color: #212529; color: white; height: 100%;">
          <div class="d-flex justify-content-center">
            <div class="w-100">
              <div class="p-2">
                <span style="font-size: 1rem;">
                  For Converting cat/subcat Names to Ids :
                </span> <br>
                <input #file1 hidden type="file" multiple (change)="convertids($event)">
                <a class="org" style="text-decoration: none; color:  white; cursor: pointer;" (click)="file1.click()">
                  CLick Here To Add It
                  <span class="material-icons">
                    touch_app
                  </span>
                </a>

                {{filename}}
              </div>

              <div class="p-2">
                <span style="font-size: 1rem;">
                  For Excel Sheet Upload To Server:
                </span> <br>
                <input #file2 hidden type="file">
                <a class="org" style="text-decoration: none; color:  white; cursor: pointer;" (click)="file2.click()">
                  CLick Here To Add It
                  <span class="material-icons">
                    touch_app
                  </span>
                </a>

                {{filename1}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="router.url === '/admin/dashboard/View-Cat-&&-SubCat'">
    <app-add-cat-subcat></app-add-cat-subcat>
  </div>
  <div *ngIf="router.url === '/admin/dashboard/Coupon'">
    <app-coupon></app-coupon>
  </div>
  <div *ngIf="router.url === '/admin/dashboard/Admin'">
    <app-admin-create></app-admin-create>
  </div>

</div>