<div class="p-2">

  <div class="row g-2 p-3">
    <div class=" col d-flex justify-content-center">
      <div class="card shadow-bottom" style="width: 18rem;background-color: #212529; color: white;">
        <div class="card-body">
          <h5 class="card-title">PRODUCTS <span class="d-flex justify-content-end">[{{totalBooks}}]</span></h5>
          <a href="/admin/dashboard/view-products" style="text-decoration: none; color: white;"
            class="d-flex justify-content-end org ">View Products</a>
        </div>
      </div>
    </div>
    <div class=" col d-flex justify-content-center" *ngIf="role ==='SuperAdmin'">
      <div class="card shadow-bottom" style="width: 18rem;background-color: #212529; color: white;">
        <div class="card-body">
          <h5 class="card-title">USERS <span class="d-flex justify-content-end">[{{count}}]</span></h5>
          <a href="/admin/dashboard/view-users" style="text-decoration: none; color: white;"
            class="d-flex justify-content-end org ">View Users</a>
        </div>
      </div>
    </div>
    <div class=" col d-flex justify-content-center" *ngIf="role ==='SuperAdmin'">
      <div class="card shadow-bottom" style="width: 18rem;background-color: #212529; color: white;">
        <div class="card-body">
          <h5 class="card-title">ORDERS <span class="d-flex justify-content-end">[{{orderslength}}]</span></h5>
          <a href="/admin/dashboard/view-orders" style="text-decoration: none; color: white;"
            class="d-flex justify-content-end org ">View Orders</a>
        </div>
      </div>
    </div>
    <div class=" col d-flex justify-content-center">
      <div class="card shadow-bottom" style="width: 18rem;background-color: #212529; color: white;">
        <div class="card-body">
          <h5 class="card-title">COUPONS <span class="d-flex justify-content-end">[{{couponslength}}]</span></h5>
          <a href="/admin/dashboard/Coupon" style="text-decoration: none; color: white;"
            class="d-flex justify-content-end org ">View Coupons</a>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="router.url === '/admin/dashboard/add-bulk-products'">

    <div class="mt-5">
      <div class="d-flex justify-content-center">
        <div class="card p-2 w-75 btc">
          <span class="font-weight-bolder org text-center" style="font-size: large;">Excel Convert && JSON Upload
          </span>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-1">

        <div class="card p-2  w-75" style="background-color: #212529; color: white; height: 100%;">
          <div class="d-flex justify-content-center">
            <div class="w-100">
              <div class="p-2">
                <span style="font-size: 1rem; color: red;">
                 First Enter Goc Then Press Submit, Then After Upload JSON  : <br> <br>
                </span>
                <form [formGroup]="gocform">
                  <div class="row g-2">
                    <div class="col-md-2 text-center">
                      Goc Dollar <br>
                      <input formControlName="goc_dollar" name="goc_dollar"   type="text" style="width: 100%;"  class="p-1">
                    </div>
                    <div class="col-md-2 text-center">
                      Goc Euro <br>
                      <input  formControlName="goc_euro" name="goc_euro" type="text"style="width: 100%;" class="p-1">
                    </div>
                    <div class="col-md-2 text-center">
                      Goc Aus Dollar <br>
                      <input  formControlName="goc_aus_dollar" name="goc_aus_dollar" type="text"style="width: 100%;"  class="p-1">
                    </div>
                    <div class="col-md-2 text-center">
                      Goc Pound <br>
                      <input  formControlName="goc_pound" name="goc_pound" type="text" style="width: 100%;" class="p-1">
                    </div>
                    <div class="col-2 text-center"><br>
                      <button (click)="gocsubmit()" class="btn btn-success"> Submit </button>
                    </div>
                  </div>
                </form>
                <span style="font-size: 1rem;">
                  For Converting cat/subcat Names to Ids And Setting Up Formula : <br>
                </span>
                <input #file1 hidden type="file" multiple (change)="convertids($event)">
                <a class="org" style="text-decoration: none; color:  white; cursor: pointer;" (click)="file1.click()">
                  CLick Here To Add It
                  <span class="material-icons">
                    touch_app
                  </span>
                </a>
                {{filename}}

              </div>

              <div class="p-2">
                <span style="font-size: 1rem;">
                  For JSON File Upload To Server:
                </span> <br>
                <input #file2 hidden type="file" name="excel_file" (change)="addbulk($event)">
                <a class="org" style="text-decoration: none; color:  white; cursor: pointer;" (click)="file2.click()">
                  CLick Here To Add It
                  <span class="material-icons">
                    touch_app
                  </span>
                </a>

                {{filename1}}
                <div *ngIf="excel" class="progress">
                  <div
                    class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar"
                    attr.aria-valuenow="{{ progress }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [ngStyle]="{ width: progress + '%' }"
                  >
                    {{ progress }}%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <div class="d-flex justify-content-center">
        <div class="card p-2 w-75 btc">
          <span class="font-weight-bolder org text-center" style="font-size: large;">Goc Update Of All Book
          </span>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-1">

        <div class="card p-2  w-75" style="background-color: #212529; color: white; height: 100%;">
          <div class="d-flex justify-content-center">
            <div class="w-100">
              <div class="p-2">
                <form [formGroup]="gocform">
                  <div class="row g-2">
                    <div class="col-md-2 text-center">
                      Goc Dollar <br>
                      <input formControlName="goc_dollar" name="goc_dollar"   type="text" style="width: 100%;"  class="p-1">
                    </div>
                    <div class="col-md-2 text-center">
                      Goc Euro <br>
                      <input  formControlName="goc_euro" name="goc_euro" type="text"style="width: 100%;" class="p-1">
                    </div>
                    <div class="col-md-2 text-center">
                      Goc Aus Dollar <br>
                      <input  formControlName="goc_aus_dollar" name="goc_aus_dollar" type="text"style="width: 100%;"  class="p-1">
                    </div>
                    <div class="col-md-2 text-center">
                      Goc Pound <br>
                      <input  formControlName="goc_pound" name="goc_pound" type="text" style="width: 100%;" class="p-1">
                    </div>
                    <div class="col-2 text-center"><br>
                      <button (click)="gocedit()" class="btn btn-success"> Submit </button>
                    </div>
                  </div>
                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="router.url === '/admin/dashboard/View-Cat-&&-SubCat'">
    <app-add-cat-subcat></app-add-cat-subcat>
  </div>
  <div *ngIf="router.url === '/admin/dashboard/Coupon'">
    <app-coupon></app-coupon>
  </div>
  <div *ngIf="router.url === '/admin/dashboard/Admin'">
    <app-admin-create></app-admin-create>
  </div>

</div>
