<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale-pulse-out" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="p-2">
  <div class="section1">

    <app-header></app-header>
    <div class="bg-image" style="position: relative;
          text-align: center;">
          <div class="d-flex justify-content-start">
            <button  class="btn btn-outline-success">
              <span class="material-icons" (click)="goback()">arrow_back</span>
            </button>
          </div>
      <div style="  position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); font-size: xx-large;">
       BOOK DETAILS <br><br>
       <a href="/" style="text-decoration: none; color: #000;" class="org"> Home</a> / <span class="org">Details</span>
      </div>
    </div>


    <div style="margin-left: 50px; margin-right: 50px;">
      <div class="row g-0" *ngFor="let book of books$.books">

       <app-details [details] = "book" [cartbutton]="cartpid1.indexOf(book._id) >= 0" [addedToWishlist]="wid1.indexOf(book._id) >= 0" ></app-details>
      </div>
    </div>

    <div class="container">
      <span style="border-bottom: rgb(197, 197, 197) solid 1px;" class="d-flex justify-content-center">
        <span class="card" style=" border-top: none;
     border-left: none;
     border-right: none;
     border-bottom: 2px solid #ff4136 ;
     font-size: 1.5rem; color: rgb(92, 88, 88);"> Description </span>
      </span>

      <div *ngFor="let book of books$.books">
        <br>
        <p *ngIf="book.desxription !=''" style="color: rgb(131, 128, 128); text-align: justify;
        text-justify: inter-word; ">
          {{book.description}}
        </p>

        <ul>
          <li class="org p-2" *ngIf="book.publication_year !=''" style="list-style-type: none;">
            <span class="material-icons">
              play_circle_filled
            </span>
            <b>Publication Year:</b> {{book.publication_year | date}}</li>

          <li *ngIf="book.no_Of_pages !='' && book.no_Of_pages !=0" class="org p-2" style="list-style-type: none;">
            <span class="material-icons">
              play_circle_filled
            </span>
            <b>No of Pages:</b>{{book.no_Of_pages}}</li>

          <li *ngIf="book.language !=''" class="org p-2" style="list-style-type: none;">
            <span class="material-icons">
              play_circle_filled
            </span>

            <b>Language: </b>{{book.language}}</li>

          <li *ngIf="book.dimensions !=''" class="org p-2" style="list-style-type: none;">
            <span class="material-icons">
              play_circle_filled
            </span>
            <b>Dimensions: </b>{{book.dimensions}}</li>

          <li *ngIf="book.weight !=null && book.weight !=0 " class="org p-2" style="list-style-type: none;">
            <span class="material-icons">
              play_circle_filled
            </span>
            <b>Weight:</b> {{book.weight | number}} g </li>
        </ul>

        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="stickyfooter">
    <app-footer></app-footer>
  </div>
</div>

