<app-header></app-header>
<div class="container" style="padding: 0 !important;">

  <div class="section1">

  <div class="row ">
    <div class="col-sm-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm-9">
      <app-carousel ></app-carousel>
      <br>
      <app-latestcollection></app-latestcollection>
      <br />
      <app-popularcollection></app-popularcollection>
      <br />
      <app-collectibles></app-collectibles>
      <br />
    </div>
  </div>

<app-qr></app-qr>

 </div>
<div class="stickyfooter">
  <app-footer></app-footer>
</div>
</div>
